

.page {
    flex: 1;
}

.home-left {
    padding-top: 2rem;
    min-width:415px;
}
.home-left h1 {
    line-height: 2rem;
    padding-bottom: 1.5rem;
    min-width: 415px;
    max-width: 90%;
}
.home-left p {
    padding-bottom: 1.5rem;
   min-width: 400px;
   max-width: 100%;
}

.input-form {
    width:90%;
    gap:1rem;
    display: flex;
}

.input-form input {
    width: 60%;
    padding: 8px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-form select,option {
    width: 40%;
    padding: 8px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buton {
    display: flex;
}

  
.form button {
    background-color: #3cb95d;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: large;
}

.home-right {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-left: 1rem;
    justify-content: center;
}

.img img{
    background-color: #004AAD;
    border-radius: 100%;
    width: 10rem;
    height: auto;
    margin:1rem 2rem 1rem 2rem;
}




.title {
    min-width: 242px;
    max-width: 100%;
}

.title h3 {
    margin-bottom: 3rem;
    margin-left: -13px;
}


.title p::first-letter {
    margin-left:-13px ;
}

#footer {
    position: relative
}


@media  screen and (min-width:750px) and ( max-width:980px) {
    .home-right {
        flex-wrap: wrap;
    }
    .img img {
        margin-left: -3.5rem
    }
    .title {
        width :300px
    }
}

@media screen and (min-width:510px) and (max-width:749px) {
    .section {
        flex-wrap: wrap;
    }
    .home-right {
        justify-content: start;
    }
    .img img {
        margin-left: 0;
    }
    .home-right {
        padding-right: 0;
    }
    .home-left {
        justify-content: center;
    }

    .title p {
        padding-bottom:0.5rem
    }
}

@media screen and (max-width:509px) {
    .section {
        flex-direction: column;
    }
    .home-left,.home-left h1,.home-left p {
        min-width: auto;
    }
    .home-right {
       flex-wrap:wrap;
        justify-content:center;
    }
    .img img {
        margin-left: 0
    }
    .title p {
        padding-bottom:0.5rem;
    
    }
}
