.intro {
    overflow-x: hidden;
    display: flex;
    width:60rem;
    max-width: 100%;
    padding: 0 2rem;
    margin:0 auto;
    color : black;
    border-bottom:1px solid #d9d9d9;
    justify-content: space-between;
}

.intro-left {
    flex:0 0 40%;
    display: flex;
    justify-content: center; /* Mengatur horizontal center alignment */
    align-items: center; 
}

.intro-left img {
    margin-top:3rem;
    width: 20rem;
    height: 22rem;
}

.intro-right {
    padding-left: 2rem;
}

.intro h1{
    color: black;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.paragraff {
    margin-bottom: 20px;
}

.intro p{
    color: #545454;
    font-size:1rem;
}


@media screen and (min-width:700px) and (max-width:822px) {
    .intro-left img {
        margin-top: 1rem;
        width:14rem;
        height: auto;
    }
}
@media screen and (max-width:699px) {
    .intro {
        flex-wrap: wrap;
    }
    .intro-left img {
        margin-top: 1rem;
        width:16rem;
        height:18rem;
    }
    .intro h1 {
        padding-top: 1rem;
    }
    .intro-right {
        padding-left: 0;
    }
    .intro {
        justify-content: center;
    }
}