.navbar {
    display: flex;
    justify-content: space-between;
    width:65rem;
    max-width: 100%;
    padding:0.5rem 1rem;
    margin:0 auto;
}

.navbar h1 {
    font-size: 2rem;
}
.navbar-nav{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.navbar-right{
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

.menu-auth{
    display: none;
}


@media screen and (min-width:768px) and (max-width:1066px) {

    .navbar {
        width: 100%;
        padding: 1rem 0.5rem;
        width: none;
    }
    .navbar-nav {
        display: none;
    }
}
@media  screen and (min-width:600px) and (max-width:767px) {
    .navbar-nav {
        display:none
    }
}

@media screen and (max-width:599px) {
    .menu {
        display: inline-block;
    }

    .navbar-nav {
        position: absolute;
        top: 3rem;
        right: 100%;
        width: 50%;
        flex-direction: column;
        align-items: start;
        padding: 2rem;
        gap:10px;
        background-color: white;
    }
    .navbar-nav.active {
        right:0;
    }

    .menu-auth {
        display: block;
    }

    .nav-item a{
        color: #545454;
        font-weight:300;
        text-decoration: none;
    }
    .navbar-right {
        display: none;
    }












}
