.container-transaksi, .trx-detail {
    width: 40rem;
    margin:3rem auto;
    border-radius: 10px;
    border: 1px solid #545454;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.50);
}

.container-transaksi h1 {
    color:black;
    font-size:2rem;
}

.container-transaksi .judul {
    padding: 2rem 0;
    text-align: center;
}
.container-transaksi .judul p {
    color: #545454;
}

.container-transaksi .p p{
    text-align: center;
    font-size:1.3rem;
    color:black;
}

.container-transaksi .proses {
    border: 1px solid #01426a;
    border-radius: 5px;
    margin :  1rem 4rem 2rem 4rem;
    height: 13rem;
    padding: 1rem;
    position:relative;
}

.container-transaksi .proses h4 {
    color:#01426a;
    font-size:1.5rem;
    padding-bottom:1rem
}

.container-transaksi .proses p {
    color:#545454;
    width:90%;
}

.button-agree {
    display:flex;
    gap:1rem;
    margin-top:2.5rem
}

.button-agree .setuju{
    flex:1;
}

.button-agree button,.button-payment button {
    width:100%;
    padding: 1rem;
    border-radius:5px;
    font-size:1.3rem;
    font-weight:700;
    border:none;
}

.button-payment button {
    margin-top:2.5rem;
    width: 50%;
}

.button-agree .setuju button,.button-payment button   {
    background-color: #004AAD;
}

.button-agree .ubah button {
    color: #004AAD;
}


.button-agree .ubah{
    flex:1
}

.trx-detail {
    padding-bottom: 2rem;
}
.trx-detail h3{
    padding: 1.5rem 0 2rem 1.5rem;
    color: #01426a;
    font-size: 1.5rem;
}

.trx-detail .trx {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 4rem;
}

.trx-detail .trx p {
    color: #545454;
    font-size: 1.3rem;
}

.stepper span {
    color: #545454;
}
.stepper p {
    color: #01426a;
    text-align: center;
    padding: 0 4rem
}


