*{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0 ;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.button[disabled] {
  cursor: not-allowed;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3cb95d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
