
body,html {
    height: 100%;
}

.mytrx th{
    padding:0.5rem;
}
.mytrx td {
    padding: 0.5rem 1rem;
} 

table,td,th {
    border:1px solid #d9d9d9;
}

td {
    color: black;
}





table{
    border-collapse: collapse;
    width: 100%;
}


table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#transaksi-saya .footer-img {
    display:none
}

#transaksi-saya #footer {
    padding-bottom: 1rem;
}

#transaksi-saya .footer {
    padding-top: 1rem;
}


.mytrx {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.40);
}

.trx-mobile {
    display:none
}

.button-load {
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;
    margin-top: 1rem;
}

.lol {
    display: none;
}

@media screen and (max-width:650px) {
    table {
        display:none
    }
    .lol {display: block;}

    .trx-mobile p {
        color:black;
    }
    .trx-mobile {
        display:block;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        margin:1.5rem 0;
        border-radius:5px;
        padding: 1rem;
    }

    .mobile {
        display:flex;
        justify-content: space-between;
        padding:0.5rem 
    }

}
